<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Authentication test">
    <test name="login test">
        <classes>
            <class name="com.github.imbharatmalviya.tests.AuthenticationTest"/>
        </classes>
    </test>
</suite>